.retreat {
    display: flex;
    .container{
        padding: 20px;
    }
    .retreatBx{
        width: 100%;
    }
    .top {
        width: 100%;
        display: grid;
        grid-gap: 20px;
        transition: grid-template-columns 5s;
        grid-template-columns: 1fr;

        &.tableOn {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }
    }
    .bottom {
        position: relative;
        background-color: var(--white);
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0 7px 25px rgb(0,0,0,0.1);
        width: 100%;
        margin-top: 20px;
        .button {
            margin-top: 10px;
            display: flex;
            justify-content: right;
        }
        .select {
            .css-26l3qy-menu {
                z-index: 10;
            }
        }
    }
}