.cardPainel{
    position: relative;
    background-color: var(--white);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 7px 25px rgb(0,0,0,0.1);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:hover{
        background-color: var(--blue);
        .title, svg {
            color: var(--white);
        }
        .select {
            .css-1s2u09g-control {
                border: none;
            }
            .css-qc6sy-singleValue, .css-14el2xx-placeholder {
                color: var(--white);
            }
        }
        .numberBox {
            border: none;
            color: var(--white);
            svg{
                color: var(--white)
            }
        }

    }
    .title{
        z-index: 1;
        font-weight: bold;
        font-size: 2em;
        color: var(--blue);
    }
    .image{
        position: absolute;
        right: 20px;
        top: 10px;
        opacity: .2;
        svg{
            font-size: 4em;
        }
    }
    .select {
        background-color: transparent;
        .css-1s2u09g-control, .css-1pahdxg-control {
            background-color: transparent;
        }
    }
    .numberBox {
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 2px;
        justify-content: space-around;
        .number {
            padding: 7px;
            background-color: transparent;
            border: none;
            text-align: center;
            width: 20px;
        }
        svg {
            cursor: pointer;
            font-size: 30px;
            color: var(--blue);
        }
    }
}